# Ignore Deepseek Model folder
LLM/Deepseek Model/

# Ignore Zephyr Model folder
LLM/Zephyr Model/

# Ignore Intent Model folder
NLU/Intent Model/

# Ignore NLU Model folder
Message_Filter/Filter Model/
