# Ignore Deepseek Model folder
LL_Models/Deepseek - Depreciated/Deepseek Model/

# Ignore Zephyr Model folder
LL_Models/Zephyr Model/

# Ignore Intent Model folder
NLU_Models/Intent Model/DistillBERT Intent Model/

# Ignore Relevance Model folder
RelevanceFilter Model/RelevanceFilter Model/


